@model GarageOpener.Classes.LoginModel
<script type="text/javascript">


</script>
<br />
@using (Html.BeginForm("CheckIP", "GarageOpenner"))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group input-group-lg">
                @Html.TextBoxFor(m => m.User, new { Class = "form-control", Placeholder = "User - Required Field" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group input-group-lg">
                @Html.TextBoxFor(m => m.Parola, new { Class = "form-control", Placeholder = "Password - Required Field", Type = "Password" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group-btn">
                <button type="submit" class="btn">Log In</button>
            </div><!-- /btn-group -->
        </div>
    </div>

    if (Model !=null && Model.Address.Length > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                Adresa: @Model.Address

            </div>
        </div>
    }
}
